<div id = "container">

<div id = "header">
<h1>Listing workouts</h1>
</div>
<div id = "content"> 
<table>
  <tr class="first_row">
    <th>Title</th>
    <th>Type</th>
    <th>Intensity</th>
    <th>Duration</th>
    <th>Day</th>
    <th>Month</th>
    <th>Year</th>
  </tr>
 
  <% @workout.each do |workout| %>
    <tr>
      <td><%= workout.title %></td>
      <td><%= workout.workout_type %></td>
      <td><%= workout.intensity %></td>
      <td><%= workout.duration %></td>
      <td><%= workout.day %></td>
      <td><%= workout.month %></td>
      <td><%= workout.year %></td>
      <td><%= link_to 'Show', workout_path(workout) %></td>
      <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
      <td><%= link_to 'Destroy', workout_path(workout),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>
<div id = "nav">
<%= link_to 'New workout', new_workout_path %>
<%= link_to 'Home page', controller: 'welcome' %>

  <%= render 'footer' %>
 </div>