
<head>
  <title>Saved workout</title>
</head>
<div id = "container">
    <div id = "header">
      <h1>Saved workout</h1>
    </div>
  <div id = "main">  
  <p>
    <strong>Title:</strong>
    <%= @workout.title %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= @workout.workout_type %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= @workout.day.to_s + "-" + @workout.month.to_s + "-" + @workout.year.to_s %>
  </p> 
  
  <p>
    <strong>Duration:</strong>
    <%= @workout.duration %>
  </p>
  
  <p>
    <strong>Intensity:</strong>
    <%= @workout.intensity %>
  </p>  
  </div>
  <div id = "details">
  <p>
    <strong>Text:</strong>
    <%= @workout.workout_details %>
  </p> 
  </div>
  <div id = "nav">
    <%= link_to 'Back', workouts_path %>
    <%= link_to 'Home', controller: 'welcome' %>
  </div>
  <%= render 'footer' %>
 </div>